bin/
obj/
cache/
publish/
.vs/
*.user
*.suo
*.pdb
*.cache
*.log
.env
.env.*
*.secret*
*.tmp
*.bak

__pycache__/
*.pyc

reference/**/build/
reference/**/dist/
reference/**/*.pkg
reference/**/*.pyz
reference/
